body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.grid_box {
    position: relative;
}

.pixel_grid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#canvas {
    margin: auto;
    background-color: #000000;
}

.black {
    background-color: black;
}
.blue {
    background-color: blue;
}
.brown {
    background-color: brown;
}
.green {
    background-color: green;
}
.orange {
    background-color: orange;
}
.pink {
    background-color: pink;
}
.purple {
    background-color: purple;
}
.red {
    background-color: red;
}
.skyblue {
    background-color: skyblue;
}
.white {
    background-color: white;
}
.yellow {
    background-color: yellow;
}
