body {
  margin: 0;
  padding: 0;
  background-color: #90f2ff;
  font-size: 16px;
}

h1 {
  font-size: 20px;
}

input,
select {
  padding: 2px 4px;
}

.submit {
  padding: 4px 8px;
}

.input_column,
.output_column {
  padding: 0 20px 20px 20px;
}

.input_column {
  float: left;
  height: 100%;
  background-color: #faffb8;
}

.submit {
  display: block;
  margin: 30px auto 0 auto;
}

.output_column {
  float: left;
}
